
.a_hi{
    font-size: 6.5em;
    font-weight: 700;
}

.a_my {
    font-size: 3.8125em;
    line-height: .85em;
}
.a_an {
    font-size: 8.375em;
    line-height: .78em;
}

.a_sh {
    font-size: 4.5em;
    line-height: 1.1em;
}

.a_and {
    font-size: 3.1875em;
    margin-left: .3141em;
    margin-right: -10px;
}
.a_18 {
    font-size: 6.8em;
    float: left;
    line-height: 1em;
}
.a_ye {
    font-size: 2.48em;
    line-height: 1.5em;
}
.a_we {
    font-size: 2.3em;
    line-height: 1.12em;
    margin-bottom: 9px;

}
.a_ni {
    font-size: 4.1em;
    line-height: 1em;
    white-space: nowrap;
}
.a_18, .a_we, .a_ni, .a_ye {
    display: block;
}
.a_18, .a_sh, .a_we, .a_an {
    font-weight: 700;
    color: #41969c;
}

.text {

	width:  29.4375em;

    text-transform: lowercase;
}
.base {
    width: 100%;
    margin: 0 auto;
    padding: 64px 256px;
	height: 670px;


}

.navbar{width: 100%;}




